/* Containers */

.App {
  text-align: center;
}


header{
  /* background-color: #282c34; */
  background-image: url("/images/broadway_wallpaper.jpg");
  background-repeat: repeat;
  background-size: cover;
  background-position-y: -240px;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: black;
  
}

.body {
  /* font-family: 'Open Sans', sans-serif; */
  font-family: 'Karla', sans-serif;
  display: flex;
  flex-direction: column;
}

.home-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10px;
  text-align: center;
}

.Welcome-div {
  display: flex;
  justify-content: center;
  color: black;
  text-shadow: 5px 5px 10px white;
  /* text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white; */
  font-family: 'Cormorant', serif;
}

.nav {
  display: flex;
  flex-direction: column;
  background-color: rgba(252, 252, 249, 0.767);
  width: 100%;
  margin-top: -20px;
  margin-left: -20px;
  padding: 20px;
  padding-right: 0;
  padding-bottom: 20px;
  box-shadow: 3px 3px 10px black;
}

.profile-nav {
  display: flex;
  justify-content: space-around;
}

.Song-Container, .Audition-Container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.song-card, .audition-card, .update-user-info {
  color: black;
  background-color: white;
  margin: 20px;
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border: 1px black solid;
  border-radius: 25px;
  justify-content: space-between;
  box-shadow: 3px 3px 10px black;
}

.song-card, .update-user-info {
  width: 20rem;
  height: 20rem;
}

.charts, .song-button-div {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.update-user-info {
  margin: auto;
  margin-top: 30px;
  width: 20rem;
  height: 25rem;
}

.audition-card {
  width: 20rem;
  height: 25rem;
}

.card-info {
  box-shadow: 3px 3px 10px white;
  padding-bottom: 10px;
  border-radius: 25px;
}

.user-dsp-info {
  margin-top: 10px;
  margin-left: 10px;
}

.update-user-info {
  text-align: center;
  border: 1px black solid;
}


.rss-div {
  margin: 20px;
  /* border: 1px black solid; */
  padding: 20px;
  border-radius: 25px;
  box-shadow: 3px 3px 10px black;
  font-size: 18px;
}

.rss-container, .default-border, .song-form {
  border: 1px black solid;
  border-radius: 25px;
  margin: 30px 400px;
  padding: 20px;
  box-shadow: 3px 3px 10px black;
}

.default-border {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

/* Elements */

label {
  font-size: 16px;
}

span {
  font-size: 16px;
}

h5 {
  margin: 0;
}
h4 {
  text-align: center;
}

h2 {
  margin-bottom: 0;
  text-align: center;
}

.pie {
  padding: 10px;
  width: 30rem;
  height: 30rem;
  padding: 25px;
  border: 1px black solid;
  font-size: 10px;
}

.chart-info {
  display: flex;
  flex-direction: column;
  width: 25rem;
  height: 25rem;
  border: 1px black solid;
  padding-bottom: 100px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 25px;
  margin: 25px;
  box-shadow: 3px 3px 10px black;
  /* margin-top: 30px;
  margin-right: 20px; */
}

.title {
  background-color: #fcfafada;
  border-radius: 75px;
  box-shadow: 0px 0px 40px 40px #fcfafada;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  font-family: 'Cormorant', serif;
  font-size: 75px;
  padding-bottom: 0;
  color: white;
  text-shadow: 3px 3px 10px black;
  /* text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black; */
}
.title-header {
  display: inline-block;
  font-size: 25px;
  margin-left: -40px;
  transform: rotate(-10deg);
  /* text-shadow: 5px 5px 10px black; */
}
.rss-title {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  font-family: 'Cormorant', serif;
  font-size: 50px;
  padding-bottom: 0;
}

.nav-components{
  padding: 20px;
  margin: 20px;
  margin-bottom: 0;
  padding-bottom: 0;
  display: flex;
  justify-content: space-between;
}

.nav-p {
  margin-top: 0;
  margin-bottom:0;
}

.nav-p, form{
  text-align: center;
  font-size: calc(20px + 2vmin);
}

.image {
  max-height: 75px;
  max-width: 75px;
  border: 1px solid black;
  background-color: white;
  border-radius: 25px;
  box-shadow: 5px 5px 10px white;
}


/** FORMS **/

.audition-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 500px;
  height: 60rem;
  margin: auto;
  text-align: left;
  padding-left: 20px;
  margin-top: 20px;
  margin-bottom: 25px;
  padding-bottom: 20px;
  border: 1px solid black;
  border-radius: 25px;
  box-shadow: 3px 3px 10px black;
}


.audition-form label {
  /* border-bottom: 1px solid grey; */
  border-radius: 25px;
  padding: 5px;
  padding-left: 20px;
  margin-right: 20px;
  box-shadow: 1px 1px 10px grey;
}

.audition-form .checkbox {
  border: none;
}

.audition-form input:hover {
  background-color: lightgrey;
}

.audition-form input {
  padding: 2px;
  padding-left: 5px;
  font-size: 16px;
  border: none;
}

.song-form {
  padding-top: 5px;
}

.song-form input {
  border: none;
  font-size: 16px;
  margin: 2px;
  border-radius: 5px;
  background-color: rgb(250, 246, 246);
}

.song-form input:hover {
  background-color: lightgrey;
}
 
select {
  border: none;
  color: grey;
  font-size: 16px;
}

.login-form, .signup-form {
  display: flex;
  flex-direction: column;
  width: 40rem;
  height: 40rem;
  margin: auto;
  justify-content: space-around;
  /* border: 1px solid black; */
  border-radius: 25px;
  margin-top: 50px;
  background-color: white;
  box-shadow: 3px 3px 10px black;
}

.login-form {
  width: 25rem;
  height: 25rem;
}

.login-input{
  border-radius: 25px;
  background-color: white;
  width: 300px;
  padding: 10px;
  margin: auto;
  box-shadow: 3px 3px 10px black;
}

.edit-audition-notes, .user-input {
  border: none;
  font-size: 16px;
  margin: 2px;
  border-radius: 5px;
  background-color: rgb(250, 246, 246);
}

.edit-audition-notes:hover {
  background-color: lightgrey;
}

.update-user-form {
  display: flex;
  flex-direction: column;
}


/* BUTTONS/LINKS */

.link, .nav-button, .login-button, #audition-button{
  border: 1px black solid;
  box-shadow: 3px 3px 10px black;
  border-radius: 25px;
  padding: 15px;
  background-color: white;
  cursor: grab;
  font-size: 18px;
  text-decoration: none;
}

.login-button {
  width: 100px;
  margin: auto;
}

.login-button:focus {
  outline: none;
}

.login-button:active {
  cursor: grabbing;
  box-shadow: 1px 1px 5px black;
  transform: translateY(4px);
}

#audition-button, .add-song-button, #update-user-button {
  margin: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.add-song-button {
  margin-top: 20px;
}

.add-song-button:hover {
  background-color: lightgray;
}

.add-song-button:active {
  cursor: grabbing;
  box-shadow: 1px 1px 5px black;
  transform: translateY(4px);
}

.audition-button:focus {
  outline: none;
}

.audition-button:active {
  cursor: grabbing;
  box-shadow: 1px 1px 5px black;
  transform: translateY(4px);
}

.link:hover {
  background-color: lightgray;
  text-decoration: none;
}

.link:visited {
  color: black;
}

.nav-button:hover {
  background-color: lightgray;
}

.link:active {
  cursor: grabbing;
  box-shadow: 1px 1px 5px black;
  transform: translateY(4px);
  text-decoration: none;
}

button:focus {
    outline: none;
}

#update-user-button, .add-song-button, #add-song-btn  {
  border: 1px black solid;
  box-shadow: 3px 3px 10px black;
  border-radius: 25px;
  padding: 10px;
  background-color: white;
  cursor: grab;
  font-size: 14px;
  text-decoration: none;
}

#update-user-button {
  margin-top: 20px;
}

#update-user-button:focus {
  outline: none;
}

.delete-user-button:hover {
  text-decoration: underline;
}

#update-user-button:hover {
  background-color: lightgrey
}

.update-user-button:active {
  cursor: grabbing;
  box-shadow: 1px 1px 5px black;
  transform: translateY(4px);
}

.delete-user-button:active {
  cursor: grabbing;
  box-shadow: 1px 1px 5px black;
  transform: translateY(4px);
}

.nav-button:visited {
  border: none;
}

.nav-button:active {
  cursor: grabbing;
  box-shadow: 1px 1px 5px black;
  transform: translateY(4px);
}

a:link {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  color: pink;
}

a:visited {
  color: grey;
}

.card-flipper{
  align-self: flex-end;
  border: 1px black solid;
  border-radius: 25px;
  padding: 15px;
  background-color: white;
  color: black;
  box-shadow: 3px 3px 10px black;
}

.card-flipper:hover {
  background-color: lightgrey;
  cursor: grab;
}

.card-flipper:active {
  cursor: grabbing;
  box-shadow: 1px 1px 5px black;
  transform: translateY(4px);
}

















/* .charts:hover {
  transform: translateY(4px);
} */










