.App, h2{
  text-align: center;
}

.body {
  display: flex;
  flex-direction: column;
}

header{
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.nav-p, form{
  text-align: center;
  font-size: calc(20px + 2vmin);
}
.nav {
  display: flex;
  flex-direction: column;
}

.nav-components{
  padding: 20px;
  margin: 20px;
  display: flex;
  justify-content: space-between;
}

.link {
  border: 1px black solid;
  box-shadow: 5px 5px 10px white;
  border-radius: 25px;
  padding: 15px;
  background-color: white;
  /* display: block; */
}